.books-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.books-header h1 {
    font-size: 28px;
}

table {
    margin: auto;
    width: 100%;
    text-align: left;
    padding: 1em;
    border-collapse: collapse;
}

table th, td {
    padding: 1em;
    border-bottom: 1px solid var(--cor-borda)
}

thead {
    background-color: var(--fundo-secundario);
}

.status {
    background-color: var(--fundo-secundario);
    width: fit-content;
    padding: .5em;
    border-radius: 8px;
    color: var(--destaque);
}

.detalhes {
    text-decoration: none;
    width: fit-content;
    background-color: var(--destaque);
    color: var(--texto);
    padding: .5em;
    border-radius: 8px;
}

