<app-main>
    <div>
        <h1>Pedidos</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Pedido</th>
                <th>Data</th>
                <th>Cliente</th>
                <th>Status</th>
                <th>Total</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (pedido of pedidos; track $index) {
                <tr>
                    <td>
                        <p>{{pedido.id}}</p>
                    </td>
                    <td>
                        <p>{{ pedido.data | date:'dd/MM/yyyy' }}, {{ pedido.data | date:'HH:mm':'pt-BR'}}</p>
                    </td>
                    <td>
                        <p>{{ pedido.usuario.nome }}</p>
                    </td>
                    <td>
                        <p class="status">{{ pedido.status }}</p>
                    </td>
                    <td>
                        <p>{{ pedido.valorTotal | currency: 'BRL' }}</p>
                    </td>
                    <td>
                        <a [routerLink]="['/dashboard/pedidos/detalhes/', pedido.id]" class="detalhes">Ver Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</app-main>