<section class="form-wrapper">
    <a [routerLink]="['/dashboard/categorias']" class="go-back">
        <img src="/icones/dashboard/back.svg" alt="">
        Voltar
    </a>
    <div class="form-wrapper-header">
        <ng-content />
    </div>
    <form (ngSubmit)="emitirCategoria()" ngNativeValidate>
        <label>
            Categoria
            <input [(ngModel)]="categoriaForm.nome" type="text" name="category" required placeholder="Ex: Programação">
        </label>
        <div class="submit-button-wrapper">
            <button type="submit">Salvar</button>
        </div>
    </form>
</section>