<section class="form-wrapper">
    <a [routerLink]="['/dashboard/livros']" class="go-back">
        <img src="/icones/dashboard/back.svg" alt="">
        Voltar
    </a>
    <div class="form-wrapper-header">
        <ng-content />
    </div>
    <form (ngSubmit)="emitirLivro()" ngNativeValidate>
        <label>
            Título
            <input [(ngModel)]="livroForm.titulo" type="text" name="title" required placeholder="Ex: Entendendo Algoritmos">
        </label>
        <label>
            Autor
            <input [(ngModel)]="livroForm.autor" type="text" name="author" required placeholder="Ex: Aditya Y. Bhargava">
        </label>
        <label>
            Categoria
            <select [(ngModel)]="livroForm.categoria" name="category" class="select-category" required>
                <option value="" selected disabled>Selecione uma categoria</option>
                @for (categoria of categorias; track $index) {
                    <option [value]="categoria.id">{{ categoria.nome }}</option>
                }
            </select>
        </label>
        <label>
            Descrição
            <input [(ngModel)]="livroForm.descricao" required type="text" name="descricao" placeholder="Ex: Este guia cativante ...">
        </label>
        <label>
            Estoque
            <input [(ngModel)]="livroForm.estoque" required type="number" name="stock" min="0" step="1" placeholder="Ex: 120">
        </label>
        <label>
            Valor
            <input [(ngModel)]="livroForm.valor" required type="number" name="price" step="0.01" placeholder="Ex: 29,90">
        </label>
        <label>
            Imagem
            <input [(ngModel)]="livroForm.imagem" required type="text" name="image" placeholder="Link para a imagem">
        </label>
        <div class="submit-button-wrapper">
            <button type="submit">Salvar</button>
        </div>
    </form>
</section>
