<div class="livro-wrapper">
    <div class="container-imagem">
        <img [src]="livro.imagem" alt="">
    </div>
    <div class="livro-info">
        <div>
            <h1>{{livro.titulo}}</h1>
            <h2><span>por {{livro.autor}}</span></h2>
            <h3><span>{{livro.categoria.nome}}</span></h3>
        </div>
        <div>
            <p>
                {{livro.descricao}}
            </p>
            <p class="valor">{{livro.valor | currency: 'BRL'}}</p>
            <button class="add-to-cart-button" (click)="adicionarAoCarrinho(livro)">Adicionar ao Carrinho</button>
        </div>
    </div>
</div>