<app-main>
    <h1>Usuários</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Número</th>
                <th>Total gasto</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @for (usuario of usuarios; track $index) {
                <tr>
                    <td>
                        <p>{{ usuario.nome }}</p>
                    </td>
                    <td>
                        <p>{{ usuario.email }}</p>
                    </td>
                    <td>
                        <p>{{ usuario.telefone }}</p>
                    </td>
                    <td>
                        <p>R$ 499,90</p>
                    </td>
                    <td>
                        <p>{{usuario.role}}</p>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</app-main>