<section class="dashboard-home">
    <div class="home-header">
        <h1>Olá, {{usuario?.nome}}!</h1>
        <p>Bem-vindo ao seu painel de gestão. Aqui você pode acompanhar as principais métricas e informações do seu negócio.</p>
        <p class="data">{{ data | date:'dd/MM/yyyy, HH:mm:ss':'pt-BR' }}</p>
    </div>

    <div class="home-cards">
        <div>
            @if (estatisticas?.totalDeVendas) {
                <h1 class="valor-destaque">{{estatisticas?.totalDeVendas | currency: 'BRL'}}</h1>
            } @else {
                <h1 class="valor-destaque">R$ 0</h1>
            }
            <p>Total de vendas</p>
        </div>
        <button>
            <img src="/icones/dashboard/money.png" alt="">
        </button>
    </div>
    <div class="home-cards">
        <div>
            <h1 class="valor-destaque">{{estatisticas?.totalDeLivros}}</h1>
            <p>Quantidade de livros</p>
        </div>
        <button>
            <img src="/icones/dashboard/livros.png" alt="">
        </button>
    </div>
    <div class="home-cards">
        <div>
            <h1 class="valor-destaque">{{estatisticas?.totalDeUsuarios}}</h1>
            <p>Quantidade de usuários</p>
        </div>
        <button>
            <img src="/icones/dashboard/group.png" alt="">
        </button>
    </div>
    
</section>
