<app-main>
    <div class="books-header">
        <h1>Livros</h1>
        <button class="add-button" [routerLink]="['/dashboard/livros/criar-livro']">
            <img src="/icones/dashboard/add.svg" alt="">
            Adicionar Livro
        </button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Estoque</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (livro of livros; track $index) {
            <tr>
                <td>
                    <div class="book-info">
                        <div class="container-img">
                            <img [src]="`/${livro.imagem}`" alt="">
                        </div>
                        <div>
                            <p>{{ livro.titulo }}</p>
                            <p class="autor">{{ livro.autor }}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p>{{ livro.categoria.nome }}</p>
                </td>
                <td>
                    <button [routerLink]="['/dashboard/livros/descricao/', livro.id]" class="blurb-button">...</button>
                </td>
                <td>
                    <p>{{ livro.estoque }}</p>
                </td>
                <td>
                    <p>{{ livro.valor | currency: 'BRL' }}</p>
                </td>
                <td>
                    <div class="action-buttons">
                        <button class="put" [routerLink]="['/dashboard/livros/editar-livro/', livro.id]">
                            <img src="/icones/dashboard/edit.svg" alt="">
                        </button>
                        <button class="delete" (click)="excluirLivro(livro.id)">
                            <img src="/icones/dashboard/delete.svg" alt="">
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</app-main>
<!-- <app-modal [(aberto)]="modalAberto">
    <h1 modal-titulo>Descrição</h1>
    <p>
        ola
    </p>
</app-modal> -->