.pedido-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.go-back {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: .3em;
    color: var(--texto);
    text-decoration: none;
    padding: .3em;
    border-radius: 8px;
}


.pedido-info {
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-weight: normal;
    font-size: 18px;
}

.pedido-info p span {
    color: var(--sub-texto);
}

.item {
    border: 1px solid var(--cor-borda);
    padding: 1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1em;
    width: fit-content;
}

.item-imagem {
    width: 20%;
}

.item-imagem img {
    width: 100%;
}

.item div p {
    color: var(--sub-texto);
}