<dialog #modal (close)="fecharModal()">
    <div>
        <h1>Descrição</h1>
        <img src="/icones/dashboard/close.svg" alt="" (click)="fecharModal()">
    </div>
    <p>
        Um guia ilustrado para programadores e outros curiosos. 
        Um algoritmo nada mais é do que um procedimento passo a 
        passo para a resolução de um problema. Os algoritmos que 
        você mais utilizará como um programador já foram descobertos, 
        testados e provados. Se você quer entendê-los, mas se recusa 
        a estudar páginas e mais páginas de provas, este é o livro certo.
    </p>
</dialog>
