dialog {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 8px;
    width: 30%;
    background-color: var(--fundo-componentes);
    color: var(--texto);
    padding: 2em;
}

dialog:focus {
    outline: none;
}

dialog div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--cor-borda);
}