.minha-conta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 800px;
    margin: 2em auto;
}

.minha-conta-cards {
    display: flex;
    gap: 1.5em;
}

.card {
    display: flex;
    flex-direction: column;
    gap: .8em;
    width: 300px;
    background-color: var(--fundo-componentes);
    padding: 1em;
    border-radius: 8px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.card p {
    font-size: 14px;
    color: var(--sub-texto);
}

.card:hover {
    transform: translateY(-5px);
}
