<div class="minha-conta-wrapper">
    <div class="minha-conta-header">
        <h1>Sua conta</h1>
    </div>
    <div class="minha-conta-cards">
        <div class="card" [routerLink]="['/home/minha-conta/editar']">
            <div>
                <img src="/icones/home_page/person_edit.svg" alt="">
            </div>
            <div>
                <h3>Suas informações</h3>
                <p>Alterar e ver suas informações pessoais</p>
            </div>
        </div>
        <div class="card" [routerLink]="['/home/minha-conta/pedidos']">
            <div>
                <img src="/icones/home_page/orders.svg" alt="">
            </div>
            <div>
                <h3>Seus pedidos</h3>
                <p>Acompanhe seu pedidos</p>
            </div>
        </div>
    </div>
</div>