<section class="dashboard-home">
    <div class="home-header">
        <h1>Olá, Bruno!</h1>
        <p>Bem-vindo ao seu painel de gestão. Aqui você pode acompanhar as principais métricas e informações do seu negócio.</p>
        <p class="data">terça-feira, 1 de julho de 2025</p>
    </div>

    <div class="home-cards">
        <div>
            <h1 class="valor-destaque">R$450,90</h1>
            <p>Total de vendas</p>
        </div>
        <button>
            <img src="/icones/dashboard/money.png" alt="">
        </button>
    </div>
    <div class="home-cards">
        <div>
            <h1 class="valor-destaque">20</h1>
            <p>Quantidade de livros</p>
        </div>
        <button>
            <img src="/icones/dashboard/livros.png" alt="">
        </button>
    </div>
    <div class="home-cards">
        <div>
            <h1 class="valor-destaque">100</h1>
            <p>Quantidade de usuários</p>
        </div>
        <button>
            <img src="/icones/dashboard/group.png" alt="">
        </button>
    </div>
    
</section>
